#block-contact {
  background-image: url("../../images/fond-contact.jpg");
  padding: 2.5em;
  margin-bottom: 3em;
}

/* contact */
#block-contact .field-body {
  background-color: white;
  padding: 2em;

}
#block-contact .field-body h4 {
  margin-bottom: 1em;
  font-size: 1.5rem;
}
#block-contact .field-body p {
  margin-bottom: 2em;

}
#block-contact .field-body a {
  text-decoration: none;
  color: rgb(250, 74, 93);
  border: 1px solid rgb(250, 74, 93);
  border-radius: 3em;
  padding: 1em;
  display: inline-flex;
  align-items: center;
}
#block-contact .field-body a:after{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  content: ">";
  color: white;
  height: 2em;
  width: 0;
  opacity: 0;
  border-radius: 100%;
  background-color: rgb(250, 74, 93);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#block-contact .field-body a:hover:after{
  width: 2em;
  opacity: 1;
  margin-left: 1em;
}


/* desktop */
@media screen and (min-width: 641px) {

  #block-contact .field-body {
    padding: 5em 3em;
    width: 40%;
    margin-left: auto;
    margin-right: 4em;
  }
}
