
@media screen and (min-width: 1200px){
  #icon-menu{
    display:none;
  }
.region-header .region {
  display: flex;
  align-items: center;
}
#block-mainmenu {
  flex: 1;
}
#block-mainmenu > ul {
  display: flex;
  justify-content: flex-end;
}
#block-mainmenu > ul li {
  list-style: none;
  padding: 0.5em;
}
#block-mainmenu > ul li a {
  text-decoration: none;
  color: black;
  margin:0 1em;
}
#block-mainmenu > ul li a.is-active {
  text-decoration: none;
  padding-bottom:0.5em;
  color: rgb(250, 74, 93);
  border-bottom: 2px solid rgb(250, 74, 93);
}
}

@media screen and (max-width: 1199px){
#icon-menu{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width:5em;
  height:5em;
  position: fixed;
  right: 0;
  z-index:2000;
  cursor: pointer;
}
#icon-menu span{
  height:2px;
  width:35px;
  border-radius: 15px;
  background-color:rgb(250, 74, 93);
  margin:.3em;
}
#icon-menu.close span{
  height:2px;
  width:35px;
  border-radius: 15px;
  background-color:white;
  margin:.3em;
}
#icon-menu span:nth-child(1) {
  top: 30%;
  
}
#icon-menu span:nth-child(2) {
  top: 50%;
}
#icon-menu span:nth-child(3) {
  top: 70%;
  }
#icon-menu.close span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  width:25px;
}
#icon-menu.close span:nth-child(2) {
  opacity: 0;
  top: 50%;
}
#icon-menu.close span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  width:25px;
}
#block-mainmenu{
  right:-80vw; 
  display:flex; 
  z-index: 1500;
  background-color: rgb(250, 74, 93);
  padding:3em;
  position:fixed;
  width:80vw;
  height:100vh;
  top:0; 
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;       
}
#block-mainmenu.menu-mobile {
  right:0;  
}
#block-mainmenu > ul li{
  list-style: none;
  margin-bottom: 2em;
}
#block-mainmenu > ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
#block-mainmenu > ul li a.is-active{
  padding-bottom:0.5em;  
  color: white;
  border-bottom: 2px solid white;
}

}
