#block-tabs {
  background-color: rgb(248, 66, 136);
  border-bottom: 1em black;
}

#block-tabs > ul {
  display: flex;
  list-style: none;
  justify-content: center;

}

#block-tabs > ul li a {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  background-color: beige;
  margin: 0.5em;

}

#block-tabs > ul li a.is-active {
  color: black;
  background-color: white;
}


/* tablette */
@media screen and (min-width: 641px) and (max-width: 1199px) {
}

/* destop */
@media screen and (min-width: 1200px) {
}
