.region-header .region {
  display: flex;
  align-items: center;
}

#block-mainmenu {
  flex: 1;
}

@media screen and (max-width: 767px) {
  #block-mainmenu {
    display: none;
  }
}

#block-mainmenu > ul {
  display: flex;
  justify-content: flex-end;
}

#block-mainmenu > ul li {
  list-style: none;
  padding: 0.5em;
}

#block-mainmenu > ul li a {
  text-decoration: none;
  color: black;
  margin:0 1em;
}

#block-mainmenu > ul li a.is-active {
  text-decoration: none;
  padding-bottom:0.5em;
  color: rgb(250, 74, 93);
  border-bottom: 2px solid rgb(250, 74, 93);
}


