#block-branding {
  background-color: white;
  display: flex;
  align-items: center;
}

#block-banding a {
  color: black;
  text-decoration: none;
}

#block-branding a img {
  height: 3em;
  display: block;
  width: auto;
  margin-right: 2em;
}

/* tablette */
@media screen and (min-width: 641px) and (max-width: 1199px) {
}

/* destop */
@media screen and (min-width: 1200px) {
}
