/*mobile*/
#block-copyright ul{
     list-style: none;
     display: block;
    justify-content: center;
} 
#block-copyright ul li{
    justify-content: center;
}
#block-socialmedia ul{
    display:flex;
    list-style: none;
    justify-content: center;
}
#block-socialmedia ul li{
    width: 8vw;
    margin: 2em 0.5em;
}


/* tablette-desktop */
@media screen and (min-width: 640px){
.region-footer .region{
    display:flex;
}
#block-copyright, #block-socialmedia {
    flex:1;       
}
#block-copyright{
    margin:auto;
}

#block-copyright ul{
    display:flex;
    list-style: none;
    align-items: center;

    } 
    
#block-socialmedia ul{
    display:flex;
    list-style: none;
}
#block-socialmedia ul li{
   width:4vw;    
}
}
