.field-body h2 {
  color: white;
  font-size: 4em;
}

.field-body h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

.layout-header p {
  margin-bottom: 1em;
}

.layout-content .field-body ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 1em 0;
  border-bottom: 1px solid rgb(250, 74, 93);
}

.layout-content .field-body ul li:last-child {
  border-bottom: none;
}

/* desktop */
@media screen and (min-width: 640px) {

}
