.field-link a {
  text-decoration: none;
  color: rgb(250, 74, 93);
  margin-bottom: 3.5em;
  font-size: 1.4rem;
}


/* tablette-desktop */
@media screen and (min-width: 641px) {
  .field-link a {
    text-decoration: none;
    color: rgb(250, 74, 93);
  }
}
