.field-date {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1.5em;
  margin-right: 1em;
}

/* tablette-desktop */
@media screen and (min-width: 641px) {
  .field-date {
    display: inline-block;
    font-weight: 700;
  }
}
