#block-mainpagecontent .home .layout .picture-header .layout-picture .field-picture img,
.about .layout .picture-header .layout-picture .field-picture img,
.project .layout .picture-header .layout-picture .field-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* mobile */
@media screen and (max-width: 640px) {
  .home .layout .picture-header .layout-picture .field-picture,
  .about .layout .picture-header .layout-picture .field-picture,
  .project .layout .picture-header .layout-picture .field-picture {
    height: 30vh;
  }
}

/* tablette */
@media screen and (min-width: 641px)and (max-width: 1999px) {
  .home .layout .picture-header .layout-picture .field-picture,
  .about .layout .picture-header .layout-picture .field-picture,
  .project .layout .picture-header .layout-picture .field-picture {
    margin: 0 -10vw;
    height: 60vh;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .home .layout .picture-header .layout-picture .field-picture,
  .about .layout .picture-header .layout-picture .field-picture,
  .project .layout .picture-header .layout-picture .field-picture {
    margin: 0 -10vw;
    height: 70vh;
  }
}
