.field-title-1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: rgb(250, 74, 93);
  line-height: 1em;
}

/* tablette et desktop */
@media screen and (min-width: 641px) {
  .field-title-1 {
    font-size: 3rem;
  }
}


