.field-body h2 {
  color: white;
  font-size: 4em;
}

.field-body h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

.field-body a {
  color: rgb(250, 74, 93);
}

.layout-header p {
  font-size: 1.3rem;
  margin-bottom: 1em;
}
.layout-content p{
  font-size: 1.3rem;
  margin-bottom: 1.5em;
}

.layout-content .field-body ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1em 0;
  border-bottom: 1px solid rgb(250, 74, 93);
}

.layout-content .field-body ul li:last-child {
  border-bottom: none;
}


/* desktop */
@media screen and (min-width: 640px) {
  .layout-content .field-body ul li{
    font-size: .9rem;
  }
  .layout-header p {
    font-size: 1rem;
  }
  .layout-content p{
    font-size: 1rem;
    margin-bottom: 1.5em;
  }
  .layout-content-left .field-body ul li:first-child {
    padding-top: 0em;
  }

}
