/* header */
.layout .picture-header {
  margin-bottom: 2em;
}

.layout .picture-header .layout-header {
  padding: 3em;
  margin: 0;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  background-color: white;
}

/* tablette et desktop */
@media screen and (min-width: 641px) {
  /* header */
  .layout .picture-header {
    display: flex;
  }

  .layout .picture-header .layout-picture {
    flex: 1;
  }

  .layout .picture-header .layout-header {
    flex: 1;
    height: fit-content;
    margin-top: 10em;
    z-index: 1;
  }

}

/* content */

.layout .layout-content {
  padding: 2em;
  margin-bottom: 2em;
}

/* tablette et destkop */
@media screen and (min-width: 641px) {
  /* savoir */
  .layout-content {
    display: flex;
  }

  .layout-content .layout-content-left {
    flex: 1;
    padding: 2em;
  }

  .layout-content .layout-content-right {
    flex: 1;
    padding: 2em;
  }

}
