/* header */
.home .layout .picture-header{
    margin-bottom: 2em;
}
.home .layout .picture-header .layout-header{
    background-color: rgb(211, 211, 211);    
    padding: 2em;
    margin: 0em;      
}

/* tablette */
@media screen and (min-width: 640px) and (max-width: 1199px){
/* header */
.home .layout .picture-header{
    display: flex;   
}
.home .layout .picture-header .layout-picture{
    flex:1;
}
.home .layout .picture-header .layout-header{
    flex:1;    
    background-color: rgb(211, 211, 211);
    height: fit-content;
    padding: 2em;
    margin-top: 10em;
    width: 500px; 
    z-index:1;  
}

}

/* desktop */
@media screen and (min-width: 1200px) {
/* header */
.home .layout .picture-header{
    display: flex;   
}
.home .layout .picture-header .layout-picture{
    flex:1;
}
.home .layout .picture-header .layout-header{
    flex:1;    
    background-color: rgb(211, 211, 211);
    height: fit-content;
    padding: 2em;
    margin-top: 10em;
    width: 500px; 
    z-index:1;  
}
/* contact */


}
