.about .layout .picture-header .layout-picture .field-picture img {
  filter: grayscale(1);
}

/* passion */
.layout-pasion {
  background-color: rgb(211, 211, 211);
  padding: 2.5em;
  margin-bottom: 4em;
}

.layout-pasion h3 {
  line-height: 1.5em;
  text-align: center;
}

/* tablette et desktop */
@media screen and (min-width: 641px)  {
  .layout-pasion{
    padding: 4em;
  }
  
  /* content */
.about .layout .layout-content {
  padding: 2em;
  margin-bottom: 2em;
}
}


