{% if content %}
  <article class="home">

    <div class="layout">
      <div class="picture-header">
        {% if content.picture %}
          <div class="layout-picture">
            {{ content.picture }}
          </div>
        {% endif %}

        {% if content.header %}
          <div class="layout-header">
            {{ content.header }}
          </div>
        {% endif %}
      </div>

      {% if content.content %}
        <div class="layout-content">
          {{ content.content }}
        </div>
      {% endif %}


    </div>
  </article>

{% endif %}
